.photo-grid{
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
  margin: 0 auto;
  padding: 0 48px 92px;

}

@media screen and (max-width: 1024px){
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px){
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 475px){
  .photo-grid{
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 16px 64px;
  }
}

