.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 525px) {
  .cover__subtitle{
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
  }
}
