.lead__image {
  max-width: 984px;
}

@media screen and (max-width: 1090px) {
  .lead__image {
    max-width: 984px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 945px) {
  .lead__image {
    max-width: 100%;
  }
}



