.lead__caption {
text-align: left;
font-size: 10px;
line-height: 1.4;
letter-spacing: 0.15em;
text-transform: uppercase;
max-width: 159px;
margin: 8px auto 0 0;
}

@media screen and (max-width: 1280px) {
  .lead__caption {
    margin-left: calc(100vw - 984px)/2;
  }
}

@media screen and (max-width: 930px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 360px) {
  .lead__caption {
    margin-left: 16px;
  }
}
