.footer__list{
  margin-right: 18px;
}

@media screen and (max-width: 690px){
  .footer__list{
    margin-bottom: 32px;
  }

  .footer__list:last-of-type{
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 390px){
  .footer__list{
    margin-right: 0;
  }
