.place{
max-width: 984px;
margin: 80px auto 0;
padding: 0 148px;
display: grid;
row-gap: 48px;
column-gap: 40px;
grid-template-columns: 460px 1fr;
grid-template-rows: repeat(2, minmax(min-content, max-content));
grid-template-areas:
"title website"
"image paragraph";

}
.place:first-of-type{
  margin-top: 0;
}

@media screen and (max-width: 1100px){
  .place{
    padding: 0 48px;
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 915px){
  .place{
    margin-top: 72px;
    padding: 0 24px;
    column-gap: 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 630px){
  .place{
    margin-top: 48px;
    padding: 0;
    grid-template-columns: auto;
    column-gap: 32px;
    grid-template-areas:
"title"
"image"
"paragraph";
  }
}
